html { height: 100% }
body { height: 100%; margin: 0; }
* { font-family: 'Arial'; }

.blur {
    -webkit-filter: blur(8px);
    -moz-filter: blur(6px); 
    /*-webkit-filter: grayscale(0.5);*/
}

.no-blur { -webkit-filter: blur(0px); }
#map { overflow: hidden; height: 90% }

#interact-form {
    height: 28px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 1px solid #fff;
}
    
#interact-form input {
    margin-top: 8px;
    margin-left: 12px;
}

.container { position: relative; }

#metadata {
    height: 24px;
    font-size: 14px;
    font-family: "Helvetica Neue", helvetica, Arial;
    color: #fff;
    background-color: #333;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}

#quakes {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    float: right;
    overflow: hidden;
}

#quakes li { font-size: 12px; color: #666; border-bottom: 1px solid #eee; padding-top: 6px; padding-bottom: 6px; }
#quakes li .mag { display: inline-block; margin-right: 8px; color: #333; }

#quakes li .light { color: green; }
#quakes li .medium { color: blue; }
#quakes li .severe { color: red; }